<div class="container" style="padding-bottom: 5rem;">
  <%= render "layouts/nav" %>
  <%= search_form_for @q, url: search_contents_path do |f| %>
    <div class="row mx-auto mt-3 px-0">
      <div class="col-md-6 offset-md-3">
        <div class="input-group">
          <%= f.search_field :body_cont, :placeholder => "ワード検索", class: "form-control"  %>
          <span class="input-group-btn">
            <%= f.submit '検索', class: "btn btn-outline-secondary" %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "layouts/contents_index", contents: @contents %>
  <div class="col-lg-6 offset-lg-3 mx-auto mt-4">
    <%= paginate @contents %>
  </div>
  <%= render "layouts/footer" %>
</div>