<div class="container">
  <% @contents.each do |content| %>
    <div class="card w-50 mx-auto mt-4">
      <div class="card-header">
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag content.user, :profile_image, :fill, 20, 20, fallback: "no_image.png", class:"rounded-circle"; %>
          </div>
          <div class="col-5 text-left">
            <%#= link_to user_path(content.user) do %>
              @<%= content.user.user_name %>
            <%# end %>
          </div>
          <div class="col-5 text-right">
            <div class ="text-black-50"><%= content.target_age %>向けの投稿</div>
          </div>
        </div>
      </div>
        <div class="slider">
          <% content.content_images.each do |image| %>
            <%= link_to content_path(content.id) do %>
              <%= attachment_image_tag image, :image, class:"card-img-top"; %>
            <% end %>
          <% end %>
        </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-4 offset-8 form-inline">
            <%= render "layouts/like", content: content %>
            <%= render "layouts/favorite", content: content %>
          </div>
          <div class="col-12">
            <p class="card-text border-bottom">本文：<%= content.body %></p>
            <%= form_with model: @comment, url: {controller: 'comments', action: 'create', content_id: content.id }, local: true do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <%= f.text_field :comment, rows:'5',placeholder: "コメントを入力", class: "form-control" %>
              <%= f.hidden_field :content_id, :value => content.id %>
              <%= f.submit "送信する", class: "btn btn-outline-dark mt-2" %>
            <% end %>
            <!--<span><%#= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span>-->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>