<div class="container" style="padding-bottom: 5rem;">
  <div class="card col-lg-6 offset-lg-3 mx-auto mt-4 px-0">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <%= link_to user_path(@content.user), class: "deco-none" do %>
            <%= attachment_image_tag @content.user, :profile_image, :fill, 40, 40, fallback: "no_image.png", class:"rounded-circle"; %>
          <% end %>
        </div>
        <div class="col-3 text-left font-weight-bold">
          <%= @content.user.user_name %>
        </div>
        <div class="col-5 text-right">
          <div class ="text-black-50"><%= @content.target_age %>向けの投稿</div>
        </div>
        <% if @content.user_id == current_user.id %>
          <div class="dropdown col-2">
            <h5 class="dropdown-toggle" data-toggle="dropdown"></h5>
            <div class="dropdown-menu dropdown-menu-right bg-light">
              <div class="btn btn-outline-info ml-3" data-toggle="modal" data-target="#content-edit-modal">編集</div>
              <%= link_to "削除", content_path(@content), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger ml-1" %>
            </div>
          </div>
        <% end %>
        <%= render "layouts/content_edit" %>
      </div>
    </div>
      <% if @content.content_images.present? %>
          <div class="slider">
            <% @content.content_images.each do |image| %>
              <%= attachment_image_tag image, :image, class:"card-img-top"; %>
            <% end %>
          </div>
        <% end %>
        
    <div class="card-body pt-4">
      <p class="card-text border-bottom"><%= @content.body %></p>
      <div class="row pt-2">
        <div class="col-6">
          <div class="text-black-50 small"><%= date_format(@content.created_at) %></div>
        </div>
        <div class="col-6 form-inline">
          <div id='like-button_<%= @content.id %>'>
            <%= render "layouts/like", content: @content %>
          </div>
          <div id='favorite-button_<%= @content.id %>'>
            <%= render "layouts/favorite", content: @content %>
          </div>
        </div>
      </div>
      <%= render "layouts/comment", comment: @comment, content: @content %>
      <div class="row">
        <div class="col-6">
          <div class="pt-3 small text-black-50"><%= @comment_all.count %> 件コメント</div>
        </div>
        <div class="col-6">
          <h6 class="pt-3 m-0 small text-black-50" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
        </div>
      </div>
      
      <% @comment_all.first(2).each do |comment| %>
        <div class="border-bottom small pt-2 pb-2">
          <% unless comment.id.nil? %>
            <div class="form-inline">
              <div class="col-2">
                <%= link_to user_path(comment.user), class: "deco-none pr-3" do %>
                    <%= attachment_image_tag comment.user, :profile_image, :fill, 32, 32, fallback: "no_image.png", class:"rounded-circle"; %>
                  <% end %>
              </div>
              <div class="col-4 font-weight-bold">
                <%= link_to user_path(comment.user), class: "deco-none pr-3" do %>
                  <%= comment.user.user_name %>
                <% end %>
              </div>
              <div class="col-1 text-right">
                <% if comment.user == current_user %>
                  <%= link_to content_comment_path(comment.content_id, comment), method: :delete, remote: true, class: "comment_destroy" do %>
                    <i class="fas fa-trash" style="color: black;"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="col-4 text-black-50">
                <%= date_format(comment.created_at) %>
              </div>
              <div class="col-10 offset-2">
                <%= comment.comment %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
        
      <div class="collapse" id="collapseExample">
        <% @comment_all.offset(2).each do |comment| %>
          <div class="border-bottom small pt-2 pb-2">
            <% unless comment.id.nil? %>
              <div class="form-inline">
                <div class="col-2">
                  <%= link_to user_path(comment.user), class: "deco-none pr-3" do %>
                    <%= attachment_image_tag comment.user, :profile_image, :fill, 32, 32, fallback: "no_image.png", class:"rounded-circle"; %>
                  <% end %>
                </div>
                <div class="col-4 font-weight-bold">
                  <%= link_to user_path(comment.user), class: "deco-none pr-3" do %>
                    <%= comment.user.user_name %>
                  <% end %>
                </div>
                <div class="col-1 text-right">
                  <% if comment.user == current_user %>
                    <%= link_to content_comment_path(comment.content_id, comment), method: :delete, remote: true, class: "comment_destroy" do %>
                      <i class="fas fa-trash" style="color: black;"></i>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-4 text-black-50">
                  <%= date_format(comment.created_at) %>
                </div>
                <div class="col-10 offset-2">
                  <%= comment.comment %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>