<div class="container" style="padding-bottom: 5rem;">
  <div class="card col-lg-6 offset-lg-3 mx-auto mt-4 px-0">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <%= link_to user_path(@content.user), class: "deco-none" do %>
            <%= attachment_image_tag @content.user, :profile_image, :fill, 40, 40, fallback: "no_image.png", class:"rounded-circle"; %>
          <% end %>
        </div>
        <div class="col-4 text-left">
          <%= @content.user.user_name %>
        </div>
        <div class="col-5 text-right">
          <div class ="text-black-50"><%= @content.target_age %>向けの投稿</div>
        </div>
        <% if @content.user_id == current_user.id %>
          <div class="dropdown">
            <h5 class="dropdown-toggle" data-toggle="dropdown"></h5>
            <div class="dropdown-menu bg-light">
              <div class="btn btn-outline-info mt-2 ml-3" data-toggle="modal" data-target="#content-edit-modal">編集</div>
              <%= link_to "削除", content_path(@content), method: :delete, data: { confirm: "本当に削除しますか？" } class: "btn btn-outline-danger mt-2" %>
            </div>
          </div>
        <% end %>
        <%= render "layouts/content_edit" %>
      </div>
    </div>
      <% if @content.content_images.present? %>
          <div class="slider">
            <% @content.content_images.each do |image| %>
              <%= link_to content_path(@content.id) do %>
                <%= attachment_image_tag image, :image, class:"card-img-top"; %>
              <% end %>
            <% end %>
          </div>
        <% end %>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-lg-8 form-inline pb-2">
          <div class="text-black-50 text-left">コメント件数：<%= @comment_all.count %></div>
        </div>
        <div class="col-lg-4 form-inline pt-2">
          <%= render "layouts/like", content: @content %>
          <%= render "layouts/favorite", content: @content %>
        </div>
        <div class="col-12">
          <p class="card-text border-bottom"><%= @content.body %></p>
          <p class="text-black-50 small"><%= date_format(@content.created_at) %></p>
          <%= render "layouts/comment", comment: @comment, content: @content %>
          <div class="dropdown mt-3">
          <p class="dropdown-toggle" data-toggle="dropdown">コメントを表示</p>
            <div class="dropdown-menu p-4 bg-light">
              <% if @comment_all.count == 0 %>
                コメントはまだありません
              <% else %>
                <ul class="list-unstyled">
                  <% @comment_all.each do |comment| %>
                    <li class="border-bottom mt-2">
                      <%= attachment_image_tag comment.user, :profile_image, :fill, 25, 25, fallback: "no_image.png", class:"rounded-circle"; %>
                      <%= link_to user_path(comment.user), class: "deco-none pr-3" do %>
                        <%= comment.user.user_name %>
                      <% end %>
                      <%= comment.comment %>
                      <% if comment.user == current_user %>
                        <div class="text-right">
                          <%= link_to "削除", content_comment_path(comment.content_id, comment), method: :delete %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>