<div class="container">
  <div class='col-12 mt-4 text-center'>
    <%= image_tag 'sign_up.jpeg', size: "400x200", class: 'img-fluid rounded top-image' %>
    <p class="mt-2">PAKUPAKUご利用にあたり下記情報のご登録をお願いいたします</p>
    <%= render "devise/shared/links" %>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group row mt-5">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :お名前 %></label>
      <div class="col-md-6">
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :性別 %></label>
      <div class="col-md-6 pt-2">
        <div class="form-check form-check-inline mr-4">
          <%= f.radio_button :sex, :"男性" %>
          <label class="form-check-label">男性</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <%= f.radio_button :sex, :"女性" %>
          <label class="form-check-label">女性</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <%= f.radio_button :sex, :"どちらでもない" %>
          <label class="form-check-label">どちらでもない</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :生年月日 %></label>
      <div class="col-md-6 pt-2">
        <%= f.date_select :birthday, use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 15), default: Date.new(1989, 1, 1) %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :ユーザー名 %></label>
      <div class="col-md-6">
        <%= f.text_field :user_name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <!--<%#= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_user_image.png"%>-->
    <!--<label for="inputImage">ProfileImage</label>-->
    <!--<%#= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>-->

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :email %></label>
      <div class="col-md-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :お子様の性別 %></label>
      <div class="col-md-6 pt-2">
        <div class="form-check form-check-inline mr-4">
          <%= f.radio_button :child_gender, :"男の子" %>
          <label class="form-check-label">男の子</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <%= f.radio_button :child_gender, :"女の子" %>
          <label class="form-check-label">女の子</label>
        </div>
        <small class="form-text">※ 1人目のお子様の性別を選択してください</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :お子様の年齢 %></label>
      <div class="col-md-6 pt-2">
        <%= f.select :child_age, ['0歳', '1歳', '2歳', '3歳', '4歳以上'], { include_blank: '選択してください'}, {class: 'form-control'} %>
        <small class="form-text">※ 1人目のお子様の年齢を選択してください</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :password %></label>
      <div class="col-md-6">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <small class="form-text">※ <%= @minimum_password_length %>文字以上でご入力ください。</small>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label text-md-right"><%= f.label :password_confirmation %></label>
      <div class="col-md-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-5">
        <a href="/" class="btn btn-outline-secondary">戻る</a>
      </div>
      <div class="col-6 text-right mb-5">
        <%= f.submit "登録", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
  
</div>