<div class="container" style="padding-bottom: 5rem;">
  <% @results.each do |user| %>
    <div class="card col-lg-6 offset-lg-3 mx-auto mt-4 px-0">
      <div class="card-header bg-white">
        <div class="row">
          <div class="col-7">
            <h4 class="text-left"><%= user.user_name %></h4>
          </div>
          <div class="col-5">
            <%= render "layouts/follow", user: user %>
          </div>
          <!-- <%#= link_to " logout", destroy_user_session_path, method: :delete %>　ログアウト -->
        </div>
      </div>
      <% if user.sex == "男性" %>
        <div class="card-body profile-card-men">
      <% elsif user.sex == "女性" %>
        <div class="card-body profile-card-woman">
      <% else %>
        <div class="card-body">
      <% end %>
        <div class="row border-bottom">
          <div class="col-3 pb-3" data-toggle="modal" data-target="#profile-image-modal">
            <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.png", class:"rounded-circle"; %>
          </div>
          <div class="modal fade" id="profile-image-modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= attachment_image_tag user, :profile_image, fallback: "no_image.png", class:"rounded-circle img-fluid"; %>
            　   </div>
              </div>
            </div>
          </div>
          <div class="col-3 small text-center">投稿数</br><%= user.contents.count %></div>
          <div class="col-3 small text-center">フォロー</br><%= user.followings.count %></div>
          <div class="col-3 small text-center">フォロワー</br><%= user.followers.count %></div>
        </div>
          <div class="row p-2">
            <div class="col-4">
              <%= link_to user_path(user), class: "deco-none" do %>
                <%= user.user_name %>
              <% end %>
            </div>
            <div class="col-8">
              <p class="text-black-50 small"><%= user.created_at.to_s(:datetime_jp) %>から</br>
              PAKUPAKUを利用しています
              </p>
              
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <%= user.introduction %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
  <div class="col-lg-6 offset-lg-3 mx-auto mt-4">
    <%= paginate @results %>
  </div>
  <%= render "layouts/footer" %>
</div>