<div class="container" style="padding-bottom: 5rem;">
  <div class="card col-lg-6 offset-lg-3 mx-auto mt-4 px-0">
    <div class="card-header bg-white">
      <div class="row">
        <div class="col-5">
          <h4 class="text-left"><%= @user.user_name %></h4>
        </div>
        <div class="col-6 text-right">
          <% if @user == current_user %>
            <div class="btn btn-outline-secondary" data-toggle="modal" data-target="#profile-edit-modal">
              プロフィールを編集
            </div>
          <% end %>
          <%= render "layouts/follow", user: @user %>
          <%= render "layouts/user_edit" %>
        </div>
          <div class="col-1">
            <% if @user == current_user %>
              <%= link_to destroy_user_session_path, method: :delete, class: "deco-none" do %>
                <h5 class="fas fa-sign-out-alt text-black-50 pt-2" data-toggle="tooltip" title="ログアウト"></h5>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
    <% if @user.sex == "男性" %>
      <div class="card-body profile-card-men">
    <% elsif @user.sex == "女性" %>
      <div class="card-body profile-card-woman">
    <% else %>
      <div class="card-body">
    <% end %>
      <div class="row border-bottom">
        <div class="col-3 pb-3" data-toggle="modal" data-target="#profile-image-modal">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.png", class:"rounded-circle"; %>
        </div>
        <div class="modal fade" id="profile-image-modal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png", class:"rounded-circle img-fluid"; %>
          　   </div>
            </div>
          </div>
        </div>
        <div class="col-3 small text-center">投稿数</br><%= @user.contents.count %></div>
        <div class="col-3 small text-center">
          <%= link_to user_user_followings_path(@user), class: "deco-none" do %>フォロー</br><% end %>
          <%= @user.followings.count %>
        </div>
        <div class="col-3 small text-center">
          <%= link_to user_user_followers_path(@user), class: "deco-none" do %>フォロワー</br><% end %>
          <%= @user.followers.count %>
        </div>
      </div>
        <div class="row p-2">
          <div class="col-3">
            <p><%= @user.user_name %></p>
          </div>
          <div class="col-7">
            <p class="text-black-50 small"><%= @user.created_at.to_s(:datetime_jp) %>から</br>
            PAKUPAKUを利用しています
            </p>
          </div>

          <div class="col-2 pr-2">
          <% unless @user.id == current_user.id %>
            <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
              <% if @isRoom == true %>
                <a href="/rooms/<%= @roomId %>" class="deco-none"><h5 class="far fa-paper-plane pt-2"></h5></a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= button_tag :type => "submit", :class =>"btn btn-default" do %>
                    <h5 class="far fa-paper-plane"></h5>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        </div>
        <div class="row">
          <div class="col-12">
            <%= @user.introduction %>
          </div>
        </div>
      </div>
  </div>
  <%= render "layouts/user_nav" %>
  <%= render "layouts/contents_index", contents: @contents %>
  <%= render "layouts/footer" %>
</div>