 <div class="container">
  <div class='col-12 mt-4 text-center'>   
    <h2>パスワードを忘れた場合</h2>
    <p class="mt-4">パスワードをリセットします</br>登録しているメールアドレスを入力してください</p>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="form-group row mt-5">
        <label class="col-md-4 col-form-label text-md-right"><%= f.label :email %></label>
        <div class="col-md-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
    
      <div class="actions">
        <%= f.submit "パスワード再設定メールを送信", class: "btn btn-info mb-3" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %></br>
    <a href="/" class="btn btn-outline-secondary mt-4">戻る</a>
  </div>
</div>
