<div class="container bg-style">
  <div class='col-12 mt-4 text-center padding'>
    <h2 class="mt-5 heading"><span class="session-top font-weight-bold">PAKUPAKU</span></br>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group row mt-4">
        <!--<label class="col-md-4 col-form-label text-md-right"><%#= f.label :email %></label>-->
        <div class="col-md-4 offset-md-4">
          <%= f.email_field :email, autocomplete: "email", :placeholder => "メールアドレス", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row mt-4">
        <!--<label class="col-md-4 col-form-label text-md-right"><%#= f.label :password %></label>-->
        <div class="col-md-4 offset-md-4">
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-4 mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

      <div class="row mt-4">
        <div class="col-6 text-center">
          <a href="/" class="btn btn-outline-secondary">戻る</a>
        </div>
        <div class="col-6 text-center">
          <%= f.submit "ログイン", class: "btn btn-info" %>
        </div>
      </div>
    <% end %>

  </div>
</div>