<div class="col-lg-6 offset-lg-3 mx-auto mt-2">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><%= link_to "一覧",     contents_path, class: "nav-link active" %></li>
    <li class="nav-item"><%= link_to "0歳", contents_age0_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "1歳", contents_age1_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "2歳", contents_age2_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "3歳", contents_age3_path, class: "nav-link" %></li>
  </ul>
</div>