<% unless user.id == current_user.id %>
  <% if (current_user.following?(user)) && (user.following?(current_user)) %>
    <% if isRoom == true %>
      <a href="/rooms/<%= roomId %>" class="deco-none"><h5 class="far fa-envelope pt-2 ml-2"></h5></a>
    <% else %>
      <%= form_for room do |f| %>
        <%= fields_for entry do |e| %>
          <%= e.hidden_field :user_id, value: user.id %>
        <% end %>
        <%= button_tag :type => "submit", :class =>"btn btn-default" do %>
          <h5 class="far fa-envelope"></h5>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<!--<#% unless @user.id == current_user.id %>-->
<!--  <#% if (current_user.following?(@user)) && (@user.following?(current_user)) %>-->
<!--    <#% if @isRoom == true %>-->
<!--      <a href="/rooms/<%#= @roomId %>" class="deco-none"><h5 class="far fa-envelope pt-2"></h5></a>-->
<!--    <#% else %>-->
<!--      <#%= form_for @room do |f| %>-->
<!--        <#%= fields_for @entry do |e| %>-->
<!--          <#%= e.hidden_field :user_id, value: @user.id %>-->
<!--        <%# end %>-->
<!--        <%#= button_tag :type => "submit", :class =>"btn btn-default" do %>-->
<!--          <h5 class="far fa-envelope"></h5>-->
<!--        <%# end %>-->
<!--      <%# end %>-->
<!--    <%# end %>-->
<!--  <%# end %>-->
<!--<%# end %>-->