<div class="container">
  <%= render "layouts/user_nav" %>
  <% @contents.each do |content| %>
    <div class="card col-lg-6 offset-lg-3 mx-auto px-0 mt-3">
      <div class="card-header">
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag content.user, :profile_image, :fill, 40, 40, fallback: "no_image.png", class:"rounded-circle"; %>
          </div>
          <div class="col-5 text-left font-weight-bold">
            <%= link_to user_path(content.user) do %>
              <%= content.user.user_name %>
            <% end %>
          </div>
          <div class="col-5 text-right">
            <div class ="text-black-50"><%= content.content.target_age %>向けの投稿</div>
          </div>
        </div>
      </div>
        <div class="slider">
          <% content.content.content_images.each do |image| %>
            <%= link_to content_path(content.id) do %>
              <%= attachment_image_tag image, :image, class:"card-img-top"; %>
            <% end %>
          <% end %>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-lg-8 form-inline pb-2">
              <div class="text-black-50 text-left">コメント件数：<%= @comment_all.count %>
            </div>
          </div>
          <div class="col-lg-4 form-inline">
            <%= render "layouts/like", content: content.content %>
            <%= render "layouts/favorite", content: content.content %>
          </div>
          <div class="col-12">
            <p class="card-text border-bottom">本文：<%= content.content.body %></p>
            <p class="text-black-50 small"><%= date_format(content.content.created_at) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "layouts/footer" %>
</div>